# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-aqui

# Cloudflare Turnstile (Captcha Invisible)
NEXT_PUBLIC_TURNSTILE_SITE_KEY=tu-site-key-aqui
TURNSTILE_SECRET_KEY=tu-secret-key-aqui
#ignoraesto